@model RoxierMongoDB.Models.Maquina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Maquina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.recvTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recvTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attrName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attrName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attrType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attrType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attrValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attrValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
